.formContainerColumn {
  max-width: 700px;
  height: 430px;
}

.formContainer {
  width: 100%;
  height: 100%;
  background: #F2F0EB;
  border-radius: 25px;
  position: absolute;
}

.image {
  width: 100%;
  height: 100%;
  border-radius: 20px 0 0 20px;
}

.formGrid {
  padding: 0 !important;
}

.formLogin {
  width: 100%;
  height: 100%;
  background: white;
  border-radius: 0 20px 20px 0;
  position: absolute;
}

.formRegistration {
  width: 100%;
  height: 100%;
  background: white;
  border-radius: 0 20px 20px 0;
  position: absolute;
}

.formTitle {
  font-size: 24pt;
  font-weight: 500;
  color: #262523;
  font-family: 'Red Hat Text', sans-serif;
  margin:50px 0 35px 0!important;
}

.formSwitcher {
  font-size: 11pt;
  color: #439FD9;
  cursor: pointer;
  margin-top: 5px;
  font-family: 'Red Hat Text', sans-serif;
}
.formSwitcher:hover {
  font-size: 11pt;
  color: #3D90D9;
  cursor: pointer;
  margin-top: 5px;
  font-family: 'Red Hat Text', sans-serif;
}

.formButton{
  margin-top: 15px!important;
  width: 170px;
  border-style: solid!important;
  border-radius: 10px!important;
}

.formField {
  width: 250px;
  height: 35px;
  font-family: 'Red Hat Text', sans-serif;
}

.form{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.formError{
  color: #cf9897;
  font-family: 'Red Hat Text', sans-serif;
  margin: 0!important;
  margin-bottom: 5px!important;
  margin-top: -5px!important;
}