.grid {
  height: fit-content;
  max-height: 100%;
  padding: auto !important;
  overflow-y: auto;
}

.grid::-webkit-scrollbar,
.activity::-webkit-scrollbar {
  display: none;
}

.avatarColumn {
  height: 100% !important;
  padding: 0 !important;
  display: flex;
  min-width: 25vw !important;
}
.infoTitle {
  display: flex;
  justify-content: space-between;
  & p {
    margin: 0;
  }
}

.label {
  border: none !important;
  width: 10px;
  background: transparent !important;
}

.ratio {
  margin: 5% auto;
  width: 90%;
}

.avatar {
  box-shadow: 0 0 30px #aeb4c7;
  width: 100%;
  height: 100%;
}

.column {
  width: calc(100% - 40%) !important;
  max-width: 760px !important;
}

div[prefix="people-custom-panel"] {
  width: 100%;
  max-width: 80%;
  height: 100%;
}

.row {
  width: 100%;
  height: fit-content !important;
}

.activity {
  height: 100%;
  overflow-y: auto;
  text-align: left;
  max-height: 70vh;
}

.activityItem {
  width: 100%;
  position: relative;
}

.activityInfo {
  display: flex;
  justify-content: space-between;
  & p {
    margin: 0;
  }
}

.label {
  border: none !important;
  width: 10px;
  background: transparent !important;
}
.actionIcons {
  position: absolute;
  right: 5%;
}

@media (max-width: 700px) {
  .column {
    width: 100% !important;
  }

  div[prefix="people-custom-panel"] {
    max-width: 100%;
  }

  .avatarColumn {
    min-width: 60% !important;
  }
}
