.container {
  width: 100%;
  height: 100%;
  overflow-y: auto;
}
.container::-webkit-scrollbar,
.activity::-webkit-scrollbar,
.infoGrid::-webkit-scrollbar {
  display: none;
}

.row {
  width: 100%;
  height: 100%;
}
.title {
  width: fit-content;
  margin: 20px auto;
}
.infoGrid {
  margin-top: 20px;
  height: fit-content;
}
.infoColumn {
  height: 95%;
}
.activity {
  height: 100%;
  overflow-y: auto;
}
.infoTitle {
  display: flex;
  justify-content: space-between;
  & p {
    margin: 0;
  }
}
.item {
  width: 100% !important;
  position: relative;
}
.content {
  width: 80% !important;

.overflow {
    overflow: hidden !important;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}
.activityInfo {
  display: flex;
  justify-content: space-between;
  & p {
    margin: 0;
  }
}
.label {
  border: none !important;
  width: 10px;
  background: transparent !important;
}
.actionIcons {
  position: absolute;
  right: 5%;
}

.ratio {
  max-width: calc(60vh / 9 * 16);
  margin: auto;
}

.photo {
  height: 100%;
  width: 100%;
  border-radius: 15px;
}

@media (max-width: 750px) {
  .infoColumn {
    margin-top: 10px;
    height: 50%;
  }

  .photo {
    border-radius: 5px;
  }
}
