.container {
  width: 100%;
  height: 100%;
}
.row {
  width: 100%;
  height: 100%;
}
.image {
  width: 100%;
  height: 35%;
}
.title {
  width: fit-content;
  margin: 20px auto;
}
.infoGrid {
  margin-top: 20px;
  height: 65%;
}
.infoColumn {
  height: 95%;
}
.activity {
  height: 100%;
  overflow-y: auto;
}
.activity::-webkit-scrollbar,
.infoGrid::-webkit-scrollbar {
  display: none;
}
.infoTitle {
  display: flex;
  justify-content: space-between;
  & p {
    margin: 0;
  }
}
.content {
  width: 100%;
  position: relative;
}
.activityInfo {
  display: flex;
  justify-content: space-between;
  & p {
    margin: 0;
  }
}
.label {
  border: none !important;
  width: 10px;
  background: transparent !important;
}
.actionIcons {
  position: absolute;
  right: 5%;
}

@media (max-width: 750px) {
  .image {
    height: 25%;
  }
  .infoGrid {
    height: 70%;
  }
  .infoColumn {
    margin-top: 10px;
    height: 50%;
  }
}
