# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
.env
*.log
backend/data/data.db
*.crt
*.key
*.pem
*.tfstate
*.tfstate.*
crash.log
crash.*.log
*.tfvars
*.tfvars.json
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
.env
.terraform
__pycache__
.idea
venv
*.pem
*.pub
.name_servers
.infrastructure_output
nginx.conf