.pageWrapper {
  margin-top: 20px;
  height: calc((100% - 80px));
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}

.pageWrapper::-webkit-scrollbar {
  display: none;
}

.paginator {
  width: fit-content;
  margin: 50px auto 0 auto !important;
}
