.homeContainer {
  margin-top: 50px;
  height: calc((100% - 150px));
  width: 100%;
}

.title {
  text-align: center;
  color: #175095;
}

.carousel {
  left: 0;
  top: 25%;
  position: absolute !important;
  margin: auto;
  max-width: 1100px !important;
  height: 60% !important;
}

@media (min-width: 1100px) {
  .carousel {
    top: 15%;
    height: 80% !important;
    position: relative !important;
  }
}
