.page {
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: column;
  padding: 0 !important;
}
.headerContainer {
  height: 7%;
}
.gridReset {
  padding: 0 !important;
  height: 93%;
}
.mainContainer {
  height: 93%;
}
