.profileContainer {
  margin-top: 30px;
  width: 100%;
  height: calc(100% - 30px);
}

.grid {
  height: 100%;
  padding: auto !important;
}

.avatarColumn {
  height: 100% !important;
  padding: 0 !important;
  display: flex;
  width: 250px !important;

}
.infoTitle{
  display: flex;
  justify-content: space-between;
  & p {
    margin: 0;
  }
}

.label {
  border: none !important;
  width: 10px;
  background: transparent !important;
}

.avatar {
  margin: 5% auto;
  width: 90%;
  box-shadow: 0 0 30px #aeb4c7;
}

.column {
  width: calc(100% - 40%) !important;
  max-width: 760px !important;
  height: 100%;
}

.panel {
  width: 100%;
  height: 100%;
}

.row {
  width: 100%;
  height: 100%;
}

.activity {
  height: 100%;
  overflow-y: auto;
  text-align: left;
}

.activityItem {
  width: 100%;
  position: relative;
}

.activityInfo {
  display: flex;
  justify-content: space-between;
  & p {
    margin: 0;
  }
}

.label {
  border: none !important;
  width: 10px;
  background: transparent !important;
}
.actionIcons {
  position: absolute;
  right: 5%;
}

@media (max-width: 750px) {
  .column {
    width: 100% !important;
  }
}