body {
  margin: 0;
  padding: 0;
  background: #f0f3fb;
}

#root,
.fill {
  width: 100%;
  height: 100%;
  background:#f0f3fb;
}

.blurring.dimmed.dimmable > :not(.dimmer).popup {
  filter: none;
}

.ui.grid{
  margin: 0!important;
  padding: 0!important;
}