.contentContainer {
  background: #fcfdfe;
  width: 100%;
  height: 100%;
  padding: 20px 30px 20px 30px;
  box-shadow: 0 3px 3px #aeb4c7;
  position: relative;
}

.header {
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: space-between;
}

.avatarContainer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.titleContainer {
  display: flex;
  width: 100%;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}

.leftContainer {
  flex: 1;
  display: flex;
  align-items: baseline;
  min-width: 100px;
}

.rightContainer {
  flex: 5;
  display: flex;
  width: 100%;
  justify-content: flex-end;
}

.sortWrapper {
  display: flex;
  margin: auto 20px auto 0;
  height: fit-content;

  & p {
    margin: auto 5px auto 0;
    height: fit-content;
  }

  & div {
    height: fit-content;
  }
}

.filterWrapper {
  padding: 0;
  margin: auto 0;
}

.title {
  font-size: 18pt;
  color: #aeb4c7;
  margin: 0 20px 0 0 !important;
  font-weight: 500;
  font-family: "Red Hat Text", sans-serif;
}

.divider {
  margin-top: 20px !important;
}

.avatarContainer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  min-width: 100px;
}

.titleContainer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.avatar {
  width: 38px;
  height: 38px;
}

.title {
  font-size: 18pt;
  color: #aeb4c7;
  margin: 0 20px 0 0 !important;
  font-weight: 500;
  font-family: "Red Hat Text", sans-serif;
}

.filter {
  background: transparent;
}

.search {
  width: 20% !important;
  max-width: 200px;
  min-width: 100px;
  margin: auto 10px;
  height: 100%;
}

.searchInput {
  width: 100%;
}

@media (max-width: 900px) {
  .contentContainer {
    margin: 0 15px 15px 15px;
    width: calc((100% - 30px));
  }
}

@media (max-width: 500px) {
  .contentContainer {
    margin: 0;
    padding: 10px 0 10px 0;
    width: 100%;
    height: calc(100% - 5px);
  }

  .avatarContainer {
    min-width: 30px;
  }

  .rightContainer {
    width: 97%;
    height: 40px;
    display: flex;
    justify-content: center;
  }
}
