.form {
  padding-top: 2vh;
  height: 100%;
  overflow-y: auto;
  background: #f0f3fb;
  width: 300px;
}

.form::-webkit-scrollbar {
  display: none;
}

.section {
  padding: 20px;
  width: 100%;
}

.buttons {
  display: flex;
  justify-content: center;
}
