.navbarContainer {
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
  padding: 10px 35px;
  transition: all 0.3s;
}

.menuItem {
  display: flex;
  align-items: center;
  margin: 0 15px 0 0;
  height: 40px;
  font-family: "Red Hat Text", sans-serif;
  font-size: 16pt;
  color: #aeb4c7;
  text-decoration: none;
  cursor: pointer;

  &:focus,
  &:visited,
  &:link,
  &:hover,
  &:active {
    text-decoration: none;
  }

  &:hover {
    color: #8e94a5;
  }

  &:last-child {
    margin-left: auto;
    padding-right: 0;
  }
}

.menuItemActive {
  font-weight: 600;
  color: #175095;

  &:hover {
    color: #175095;
    cursor: default;
  }

  p {
    margin: 0;
    text-decoration: none;
  }
}

.menuItemIcon {
  display: none;
  min-height: 25px;
  min-width: 25px;
}

@media (max-width: 900px) {
  .navbarContainer {
    padding: 0 15px;
    height: 75px;
  }

  .menuItem {
    padding: 10px;
    margin: 0;
    height: 75px;

    p {
      display: none;
    }
  }

  .menuItemActive {
    margin: 0;
  }

  .menuItemText {
    display: none;
  }

  .menuItemIcon {
    display: block;
    margin: 0;
  }
}