@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Text:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap");

div[prefix="custom-panel"] {
  height: 100%;

  & div[role="region"] {
    height: 100%;
  }
}

.pushable {
  background: transparent !important;
  border: none !important;
}
