.page {
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: column;
  padding: 0 !important;
}

.gridReset {
  padding: 0 !important;
  height: calc(100% - 75px);}
.mainContainer {
  height: calc(100% - 75px);
}

@media (max-width: 900px) {
  .headerContainer {
    height: 75px;
  }
}
