.cardContent {
  padding: 0 16px 16px 16px !important;
  height: 75px;
}

.about {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  word-break: normal;
  overflow: hidden;
  hyphens: auto;
}
