.profileContainer {
  margin-top: 30px;
}

.avatarColumn {
  height: 300px !important;
  padding: 0 !important;
  display: flex;

}

.avatar {
  margin: 25px 0 25px 25px !important;
  width: 250px;
  box-shadow: 0 0 30px #aeb4c7;
}

.userName {
  margin-top: 60px !important;
  margin-bottom: 0 !important;
  font-size: 24pt;
  color: #262523;
  font-weight: bold;
  font-family: 'Red Hat Text', sans-serif;
}

.role {
  font-size: 14pt;
  color: #4c77fa;
  font-weight: 500;
  font-family: 'Red Hat Text', sans-serif;
}

.infoColumn {
  height: 270px !important;
  margin-top: 30px !important;
  padding: 0 !important;
  display: flex;

}

.infoRow {
  display: flex;
  font-size: 14pt;
  color: #aeb4c7;
  font-weight: 300;
  cursor: pointer;
  font-family: 'Red Hat Text', sans-serif;
  margin-left: 30px;
  margin-bottom: 20px;
  align-items: center;
  transition: all 0.3s;
  width: calc((100% - 60px));
}

.infoRowText {
  margin-left: 5px;
}

.profileActions {
  height: 30px;
  width: 100%;
  font-size: 18pt;
  display: flex;
  justify-content: flex-end;
  text-align: end;
  padding-right: 30px;
}

.actionIcon{
  font-size: 18pt;
  color: #aeb4c7;
  transition: all 0.3s;
  margin-left: 10px;
  cursor: pointer;
}

.actionIcon:hover{
  color: #4c77fa;
  transition: all 0.3s;
}